@import '../../_css/common';

.createAccount {
  display: grid;
  grid-template-columns: 1fr 45%;
  height: 100vh;
  overflow: auto;

  @include mid-break {
    grid-template-columns: 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/images/image-2.svg');
  }

