@import '../../_css/common';

.createAccount {
  display: grid;
  grid-template-columns: 1fr 45%;
  height: 100vh;
  overflow: auto;

  @include mid-break {
    grid-template-columns: 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/assets/images/image-2.svg');
  }

  p {
    color: var(--color-gray-500);
  }
}

.formTitle {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;

  h3 {
    margin: 0;

    @include mid-break {
      font-size: 34px;
      margin-bottom: 8px;
    }
  }

  .handImg {
    height: 24px;
  }
}

