@use './queries.scss' as *;
@use './colors.scss' as *;
@use './type.scss' as *;
@import "./theme.scss";

@tailwind utilities;

:root {
  --base: 24px;

  --gutter-h: 48px;
  --block-padding: 120px;

  @include large-break {
    --gutter-h: 36px;
    --block-padding: 96px;
  }

  @include mid-break {
    --gutter-h: 24px;
    --block-padding: 60px;
  }
}

* {
  box-sizing: border-box;
}

html {
  @extend %body;
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  opacity: 0;

  &[data-theme=dark],
  &[data-theme=light] {
    opacity: initial;
  }
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: var(--font-noto-sans);
  margin: 0;
  padding: 0;
  color: var(--gray-12);

  display: flex;
  flex-flow: column;
}

.main {
  flex: 1 1 auto;
}

::selection {
  background: var(--blue-4);
}

::-moz-selection {
  background: var(--blue-4);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--blue-9);

  &:focus {
    opacity: .8;
    outline: none;
  }

  &:active {
    opacity: .7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}
