// Keep these in sync with the colors exported in '../cssVariables.js'

:root {
  --color-success-50: rgb(247, 255, 251);
  --color-success-100: rgb(240, 255, 247);
  --color-success-150: rgb(232, 255, 243);
  --color-success-200: rgb(224, 255, 239);
  --color-success-250: rgb(217, 255, 235);
  --color-success-300: rgb(209, 255, 230);
  --color-success-350: rgb(201, 255, 226);
  --color-success-400: rgb(193, 255, 222);
  --color-success-450: rgb(186, 255, 218);
  --color-success-500: rgb(178, 255, 214);
  --color-success-550: rgb(160, 230, 193);
  --color-success-600: rgb(142, 204, 171);
  --color-success-650: rgb(125, 179, 150);
  --color-success-700: rgb(107, 153, 128);
  --color-success-750: rgb(89, 128, 107);
  --color-success-800: rgb(71, 102, 86);
  --color-success-850: rgb(53, 77, 64);
  --color-success-900: rgb(36, 51, 43);
  --color-success-950: rgb(18, 25, 21);

  --color-warning-50: rgb(255, 255, 246);
  --color-warning-100: rgb(255, 255, 237);
  --color-warning-150: rgb(254, 255, 228);
  --color-warning-200: rgb(254, 255, 219);
  --color-warning-250: rgb(254, 255, 210);
  --color-warning-300: rgb(254, 255, 200);
  --color-warning-350: rgb(254, 255, 191);
  --color-warning-400: rgb(253, 255, 182);
  --color-warning-450: rgb(253, 255, 173);
  --color-warning-500: rgb(253, 255, 164);
  --color-warning-550: rgb(228, 230, 148);
  --color-warning-600: rgb(202, 204, 131);
  --color-warning-650: rgb(177, 179, 115);
  --color-warning-700: rgb(152, 153, 98);
  --color-warning-750: rgb(127, 128, 82);
  --color-warning-800: rgb(101, 102, 66);
  --color-warning-850: rgb(76, 77, 49);
  --color-warning-900: rgb(51, 51, 33);
  --color-warning-950: rgb(25, 25, 16);

  --color-error-50: rgb(255, 241, 241);
  --color-error-100: rgb(255, 226, 228);
  --color-error-150: rgb(255, 212, 214);
  --color-error-200: rgb(255, 197, 200);
  --color-error-250: rgb(255, 183, 187);
  --color-error-300: rgb(255, 169, 173);
  --color-error-350: rgb(255, 154, 159);
  --color-error-400: rgb(255, 140, 145);
  --color-error-450: rgb(255, 125, 132);
  --color-error-500: rgb(255, 111, 118);
  --color-error-550: rgb(230, 100, 106);
  --color-error-600: rgb(204, 89, 94);
  --color-error-650: rgb(179, 78, 83);
  --color-error-700: rgb(153, 67, 71);
  --color-error-750: rgb(128, 56, 59);
  --color-error-800: rgb(102, 44, 47);
  --color-error-850: rgb(77, 33, 35);
  --color-error-900: rgb(51, 22, 24);
  --color-error-950: rgb(25, 11, 12);

  --color-green-500: rgba(60, 209, 57, 1);
}

:root, .light, .light-theme {
  --blue-1: #fafdff;
  --blue-2: #f2faff;
  --blue-3: #e3f5ff;
  --blue-4: #cef0ff;
  --blue-5: #b6e8ff;
  --blue-6: #9bdcff;
  --blue-7: #75ccfd;
  --blue-8: #21b6f9;
  --blue-9: #04adef;
  --blue-10: #00a1e2;
  --blue-11: #007ebb;
  --blue-12: #00395c;

  --blue-a1: #0099ff05;
  --blue-a2: #009dff0d;
  --blue-a3: #00a4ff1c;
  --blue-a4: #00b1ff31;
  --blue-a5: #00afff49;
  --blue-a6: #00a6ff64;
  --blue-a7: #00a1fc8a;
  --blue-a8: #00abf8de;
  --blue-a9: #00aceffb;
  --blue-a10: #00a1e2;
  --blue-a11: #007ebb;
  --blue-a12: #00395c;

  --blue-contrast: #fff;
  --blue-surface: #eff9ffcc;
  --blue-indicator: #04adef;
  --blue-track: #04adef;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --blue-1: oklch(99.3% 0.004 235);
      --blue-2: oklch(98.2% 0.0118 235);
      --blue-3: oklch(96% 0.0245 235);
      --blue-4: oklch(93.7% 0.0457 235);
      --blue-5: oklch(90.6% 0.0659 235);
      --blue-6: oklch(86.4% 0.0845 235);
      --blue-7: oklch(80.9% 0.1089 235);
      --blue-8: oklch(73.5% 0.1492 235);
      --blue-9: oklch(70.6% 0.1492 235);
      --blue-10: oklch(66.9% 0.1492 235);
      --blue-11: oklch(55.8% 0.1492 235);
      --blue-12: oklch(32.4% 0.1189 235);

      --blue-a1: color(display-p3 0.0235 0.5137 1 / 0.016);
      --blue-a2: color(display-p3 0.0235 0.5922 0.9216 / 0.048);
      --blue-a3: color(display-p3 0.0118 0.5647 0.9608 / 0.099);
      --blue-a4: color(display-p3 0.0039 0.6235 0.9529 / 0.165);
      --blue-a5: color(display-p3 0.0039 0.6235 0.9529 / 0.248);
      --blue-a6: color(display-p3 0.0039 0.5725 0.9569 / 0.338);
      --blue-a7: color(display-p3 0.0039 0.549 0.9412 / 0.459);
      --blue-a8: color(display-p3 0 0.549 0.9294 / 0.659);
      --blue-a9: color(display-p3 0 0.5216 0.8745 / 0.699);
      --blue-a10: color(display-p3 0 0.4784 0.8118 / 0.722);
      --blue-a11: color(display-p3 0 0.349 0.6353 / 0.789);
      --blue-a12: color(display-p3 0 0.149 0.2902 / 0.918);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.9412 0.9765 1 / 0.8);
      --blue-indicator: oklch(70.6% 0.1492 235);
      --blue-track: oklch(70.6% 0.1492 235);
    }
  }
}

:root, .light, .light-theme {
  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #cdced7;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;

  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #00104010;
  --gray-a4: #000b3618;
  --gray-a5: #0009321f;
  --gray-a6: #00073527;
  --gray-a7: #00063332;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00051b7f;
  --gray-a11: #0002119d;
  --gray-a12: #000107e1;

  --gray-contrast: #FFFFFF;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8d98;
  --gray-track: #8b8d98;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --gray-1: oklch(99.1% 0.0015 277.7);
      --gray-2: oklch(98.2% 0.003 277.7);
      --gray-3: oklch(95.6% 0.0045 277.7);
      --gray-4: oklch(93.1% 0.0061 277.7);
      --gray-5: oklch(91% 0.0077 277.7);
      --gray-6: oklch(88.8% 0.0093 277.7);
      --gray-7: oklch(85.3% 0.0117 277.7);
      --gray-8: oklch(79.4% 0.016 277.7);
      --gray-9: oklch(64.6% 0.0165 277.7);
      --gray-10: oklch(61% 0.0161 277.7);
      --gray-11: oklch(50.3% 0.0139 277.7);
      --gray-12: oklch(24.1% 0.0099 277.7);

      --gray-a1: color(display-p3 0.0235 0.0235 0.349 / 0.012);
      --gray-a2: color(display-p3 0.0235 0.0235 0.349 / 0.024);
      --gray-a3: color(display-p3 0.0078 0.0667 0.2549 / 0.063);
      --gray-a4: color(display-p3 0.0118 0.051 0.2157 / 0.095);
      --gray-a5: color(display-p3 0.0039 0.0392 0.2 / 0.122);
      --gray-a6: color(display-p3 0.0039 0.0275 0.1804 / 0.153);
      --gray-a7: color(display-p3 0.0078 0.0275 0.1843 / 0.197);
      --gray-a8: color(display-p3 0.0039 0.0314 0.1765 / 0.275);
      --gray-a9: color(display-p3 0.0039 0.0196 0.1059 / 0.455);
      --gray-a10: color(display-p3 0.0039 0.0196 0.098 / 0.499);
      --gray-a11: color(display-p3 0 0.0078 0.0588 / 0.616);
      --gray-a12: color(display-p3 0 0.0039 0.0275 / 0.883);

      --gray-contrast: #FFFFFF;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.0165 277.7);
      --gray-track: oklch(64.6% 0.0165 277.7);
    }
  }
}

:root, .light, .light-theme, .radix-themes {
  --color-background: #fff;
}