@import '../../_css/common';

.relatedProducts {
  width: 100%;
  padding-top: var(--base);
}

.introContent {
  position: relative;
  margin-bottom: calc(var(--base) * 2);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.grid {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
  gap: 30px;

  @include mid-break {
    gap: 20px;
  }

  @include small-break {
    grid-template-columns: 100%;
  }
}

.title {
  font-weight: 400;
  margin-bottom: 30px;
}

            .introContent {
              position: relative;
              margin-bottom: calc(var(--base) * 2);

              @include mid-break {
                margin-bottom: var(--base);
              }
            }

            .grid {
              display: grid;
              grid-template-columns: repeat(12, 1fr);
              width: 100%;
              gap: var(--base) 40px;

              @include mid-break {
                grid-template-columns: repeat(6, 1fr);
                gap: calc(var(--base) / 2) var(--base);
              }
            }

            .column {
              grid-column-end: span 12;

              @include mid-break {
                grid-column-end: span 6;
              }

              @include small-break {
                grid-column-end: span 6;
              }
            }

            .cols-half {
              grid-column-end: span 6;

              @include mid-break {
                grid-column-end: span 6;
              }


              }
            }

