@import '../../_css/common';

.checkboxWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  cursor: pointer;
}

.checkbox {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
 