@import "../../../_css/common";

.form {
  display: flex;
  flex-direction: column;
  gap: var(--base);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--base);
}

.button {
  background-color: rgb(49, 224, 13);
}